# ProxyUltra (.env)
# Headless Installation Secrets Override
# Rename this file to .env and place it in the same directory as pxu or your current working directory.

# 3x-ui specific
# PXU_XUI_USER="admin"
# PXU_XUI_PASS="securepassword"

# Remnawave specific
# PXU_REMNAGATE_TOKEN="token_here"

# Global options
# PXU_DOMAIN="panel.example.com"
